
@{
    ViewData["Title"] = "NewProduct";
}


<h2>Create New Product</h2>
<form asp-action="CreateProduct" asp-controller="Product">
    <p>Product Name: </p><input type="text" name="Name" />
    <p>Price: </p><input type="text" name="Price" />
    <p>Category ID: </p><input type="number" name="CategoryID" />
    <p>On Sale: </p><input type="number" name="OnSale" />
    <p>Stock Level: </p><input type="number" name="StockLevel" />
    <input type="submit" value="Create" />
</form>